body {
    background: #808080;
    width: 80%;
    margin: auto;
    padding: 0px;
    font-family: sans-serif;
}

nav {
    display: flex;
    background-color: #BEBEBE;
}

#menu {
    display: flex;
    list-style-type: none;
    margin: 0%;
    margin-left: 48%;
}

.ul {
    display: inline;
}

.menu1 {
    text-decoration: none;
    outline: none;
    color: aqua;
    padding: 2%;
    font-size: 1vw;
}

.menu1:hover {
    background-color: #C8C8C8;
    /* color: aquamarine; */
    /* font-size: 1.03vw; */
}

.menu1:focus {
    color: bisque;
    font-size: 1.05vw;
}

#logo {
    padding: 0.37%;
    padding-left: 2%;
    width: 1.5vw;
    height: 1.5vw;
}

footer {
    padding: 1%;
    background: #2e2e2e;
    padding-bottom: 4%;
}

#blockimgfooter {
    padding-right: 3%;
}

.imgfooter {
    display: inline;
    float: right;
}

#imgtg {
    padding-left: 30%;
    width: 2.4vw;
}

#imgmail {
    width: 2.2vw;
}

#imgvk {
    width: 2.2vw;
}

#imggit {
    width: 4.1vw;
}