body {
    background: #171717;
    width: 80%;
    margin: auto;
    padding: 0px;
    font-family: sans-serif;
    color: white;
    font-family: Comfortaa Light;
    src: url("D:\Программирование\NeGomik\src\Comfortaa-VariableFont_wght.ttf") format("ttf")
}

nav {
    display: flex;
}

#menu {
    display: flex;
    list-style-type: none;
    margin: 0%;
    margin-left: 55%;
}

.ul {
    display: inline;
}

.menu1 {
    text-decoration: none;
    outline: none;
    padding: 15%;
    font-size: 1vw;
    color: white;
}

.menu1:focus {
    font-size: 1.05vw;
}

#logo {
    padding: 0.37%;
    padding-left: 2%;
    width: 1.5vw;
    height: 1.5vw;
}

#nameartem {
    display: flex;
}

#nameimg {
    width: 40%;
    height: 40%;
    border-radius: 1000px;
    margin-left: auto;
    margin-right: 8%;
    margin-top: 10%;
}

#nemedeveloper {
    flex-wrap: wrap;
    padding-top: 15%;
}

#name {
    font-size: 48px;
    padding-top: 15%;
}

#developer {
    font-size: 18px;
}

#DownloadCV {
    font-size: 14px;
}

#about1 {
    font-size: 48px;
}

#aboutme {
    font-size: 18px;
}

.adres {
    font-size: 18px;
}

#whatido1 {
    font-size: 48px;
}

.whatidome {
    font-size: 36px;
}

#myskills1 {
    font-size: 48px;
}

#Getintouch1 {
    font-size: 48px;
}

footer {
    padding: 1%;
    padding-bottom: 4%;
}

#blockimgfooter {
    padding-right: 3%;
}

.imgfooter {
    display: inline;
    float: right;
}

#imgtg {
    padding-left: 30%;
    width: 2.4vw;
}

#imgmail {
    width: 2.2vw;
}

#imgvk {
    width: 2.2vw;
}

#imggit {
    width: 4.1vw;
}