@import url('https://fonts.googleapis.com/css2?family=Acme&family=Noto+Sans&family=Shadows+Into+Light&display=swap');
body {
    background: #171717;
    max-width: 1275px;
    margin: auto;
    padding: 0px;
    font-family: sans-serif;
    color: white;
    /* font-family: Comfortaa Light;
    src: url("D:\Программирование\NeGomik\src\Comfortaa-VariableFont_wght.ttf") format("ttf") */
    font-family: 'Noto Sans', sans-serif;
}

nav {
    display: flex;
}

#menu {
    display: flex;
    list-style-type: none;
    margin: 0%;
    margin-left: auto;
    margin-right: 20%;
}

.menu1 {
    text-decoration: none;
    outline: none;
    padding: 15%;
    font-size: 18px;
    color: white;
    transition-duration: 1s;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}

.menu1:hover {
    animation-name: colormenu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-size: 100% 1px;
}

@keyframes colormenu {
    0% {
        background-color: #171717;
    }
    100% {
        background-color: #4F4F4F;
    }
}

#logo {
    padding: 0.37%;
    padding-left: 2%;
    width: 1.5vw;
    height: 1.5vw;
}

#nameartem {
    display: flex;
}

#nameimg {
    width: 40%;
    height: 40%;
    border-radius: 1000px;
    margin-left: auto;
    margin-right: 8%;
    margin-top: 10%;
}

#nemedeveloper {
    flex-wrap: wrap;
    padding-top: 15%;
}

#name {
    font-size: 48px;
    padding-top: 15%;
}

#developer {
    font-size: 18px;
}

#divDownloadCV {
    padding-top: 35px;
}

#DownloadCV {
    width: 145px;
    font-size: 14px;
    padding-left: 30px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    background-color: #27AE60;
}

#DownloadCV:hover {
    animation-name: DownloadCV;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes DownloadCV {
    0% {
        background-color: #27AE60;
    }
    50% {
        background-color: rgb(185, 185, 22);
    }
    100% {
        background-color: #27AE60;
    }
}

#about {
    margin-top: 150px;
}

#about1 {
    display: flex;
    font-size: 48px;
    justify-content: center;
}

.aboutme {
    display: flex;
    font-size: 18px;
    justify-content: center;
}

#aboutme1 {
    margin-top: -10px;
}

#aboutme2 {
    margin-top: -10px;
}

#aboutme3 {
    margin-top: -10px;
}

#aboutme4 {
    margin-top: -10px;
}

.myadresimg {
    padding-left: 34%;
}

#myadres {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
}

.adres {
    font-size: 18px;
    text-align: center;
}

#whatido {
    padding-top: 105px;
    display: flex;
    justify-content: space-between;
}

#whatido1 {
    padding-top: 250px;
    font-size: 48px;
    text-align: center;
}

.whatidodiv {
    width: 230px;
    height: 169px;
    padding-top: 35px;
    padding-left: 50px;
    padding-right: 70px;
    padding-bottom: 41px;
    background-color: #212121;
}

.whatidome {
    color: #535353;
    font-size: 36px;
}

#myskills {
    padding-top: 240px;
}

#myskills1 {
    text-align: center;
    font-size: 48px;
    padding-bottom: 75px;
}

#myskillstext {
    display: flex;
    justify-content: space-between;
    background-color: #212121;
    padding-left: 130px;
    padding-right: 130px;
}

.interest {
    font-size: 72px;
    color: #4F4F4F;
    margin-bottom: -5px;
}

.language {
    font-size: 24px;
    color: #27AE60;
    padding-bottom: 65px;
    padding-left: 25%;
}

#csslanguage {
    padding-left: 30%;
}

#JAVASCRIPTlanguage {
    padding-left: 2%;
}

#PYTHONlanguage {
    padding-left: 15%;
}

#Getintouch {
    padding-top: 230px;
}

#Getintouch1 {
    text-align: center;
    font-size: 48px;
}

input {
    background-color: #171717;
    width: 360px;
    padding: 14px;
    border: none;
    border-bottom: 1px solid #535353;
    background-color: transparent;
    color: inherit;
    outline: none;
}

#input {
    display: flex;
    padding-top: 85px;
    padding-left: 13%;
}

#namelostname {
    padding-top: 40px;
}

#emailphone {
    padding-top: 40px;
}

#divmessege {
    padding-left: 13%;
    padding-top: 50px;
}

#Messege {
    background-color: #171717;
    width: 927px;
    height: 97px;
    padding-top: 13px;
    padding-left: 13px;
    border-color: #535353;
    background-color: transparent;
    color: inherit;
    outline: none;
}

#Submitnow1 {
    padding-left: 44.5%;
    padding-top: 35px;
    padding-bottom: 160px;
}

#Submitnow {
    width: 143px;
    height: 42px;
    background-color: #27AE60;
    padding-top: 15px;
    padding-left: 35px;
    padding-bottom: 15px;
    padding-right: 35px;
}

#Submitnow:hover {
    animation-name: DownloadCV;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#negomik2022 {
    font-size: 18px;
    color: #4F4F4F;
    text-align: center;
}


/* footer {
    padding: 1%;
    padding-bottom: 4%;
}

#blockimgfooter {
    padding-right: 3%;
}

.imgfooter {
    display: inline;
    float: right;
}

#imgtg {
    padding-left: 30%;
    width: 2.4vw;
}

#imgmail {
    width: 2.2vw;
}

#imgvk {
    width: 2.2vw;
}

#imggit {
    width: 4.1vw;
} */