body {
    margin: 0;
    background: black;
    display: grid;
}

#matri {
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: top center;
    z-index: -1;
    margin: auto;
}

#body1 {
    position: relative;
    z-index: 99999999999;
    opacity: 0.5;
    width: 80%;
    margin: auto;
}

#imgtg {
    width: 2.4vw;
}

#imgmail {
    width: 2.2vw;
}

#imgvk {
    width: 2.3vw;
}

#imggit {
    width: 4.1vw;
}